body {
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: 400;
    margin: 0;
}

.container {
    max-width: 1280px;
    padding: 0 16px;
    margin: 0 auto;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header nav ul{
    display: flex;
    list-style-type: none;
    gap: 20px;
}

a{
      text-decoration: none;
      color: #112138;
} 

.hero {
    background-color: #112138;
    color: #ffffff;
}

.hero .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20vh 30vw;
}

h1 {
    font-weight: bold;
    font-size: 48px;
}

span {
    color: #007D54;
}

button {
    padding: 14px 40px;
    background: #007D54;
    border-radius: 4px;
    border: none;
    color: #ffffff;
}
.features .container{
    display: flex;
    justify-content: space-around;
    padding: ;
}

.information {
    background-image: url(images/coffee.png);
}