body {
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: 400;
    margin: 0;
    min-width: 350px;
}

.container {
    max-width: 1280px;
    padding: 0 16px;
    margin: 0 auto;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 26px;
    padding-bottom: 26px;
}

a {
    text-decoration: none;
    color: #F5F6F7;
} 

#menuToggle {
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
}

#menuToggle input {
    display: flex;
    width: 40px;
    height: 32px;
    position: absolute;
    cursor: pointer;
    margin: -3px;
    opacity: 0;
    z-index: 2;
}
  
#menuToggle span {
    display: flex;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: #112138;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                opacity 0.55s ease;
}

#menuToggle span:first-child {
	transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
	transform-origin: 0% 100%;
}

#menuToggle input:checked~span {
	opacity: 1;
	transform: rotate(45deg) translate(-2px, -1px);
	background: #007D54;
}

#menuToggle input:checked~span:nth-last-child(3) {
	opacity: 0;
	transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked~span:nth-last-child(2) {
	opacity: 1;
	transform: rotate(-45deg) translate(0, -1px);
}

#menu {
	position: absolute;
	width: 80vw;
    height: 100vh;
	margin: -100px -10px 0 0;
	padding-top: 200px;
	right: 0;
    top: 0;
	background: #112138;
	list-style-type: none;
	/* padding: 50px; */
	/* -webkit-font-smoothing: antialiased; */
	/* transform-origin: 0% 0%; */
	/* transform: translate(100%, 0); */
	/* transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0); */
    display: none;
}

#menu li {
	padding: 30px 0;
	font-size: 22px;
}

#menuToggle input:checked ~ #menu {
	display: initial;
}

#menuToggle input:checked ~ ul {
	transform: scale(1.0, 1.0);
	opacity: 1;
}

.desktop-menu {
    display: none;
}

.hero {
    background-color: #112138;
    color: #ffffff;
}

.hero .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 40%;
    padding-bottom: 40%;
}

h1 {
    font-weight: bold;
    font-size: 36px;
    margin: 0;
}

h2 {
    font-family: 'Inter';
    font-style: bold;
    font-size: 30px;
}

h4 {
    font-weight: 500;
    font-size: 20px;
}

.hero span {
    color: #007D54;
}

button {
    padding: 14px 40px;
    margin-top: 10px;
    width: 100%;
    background: #007D54;
    border-radius: 4px;
    border: none;
    color: #ffffff;
}

.title h3 {
    font-weight: 700;
    font-size: 24px;
    margin: 0 0 12px 0;
}

.title p {
    font-size: 18px;
    color: #525252;
    margin-bottom: 32px;
}

.image {
    max-width: 100%;
}

.information {
    text-align: center;
    color: #ffffff;
    background-image: url(images/coffee.png);
    padding: 20px 0;
}

.coffee-header {
    color: #F5F6F7;
}

.features .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    padding-top: 20px;
    padding-bottom: 20px;
}

.testimonial-ui {
    padding: 20px 0;
}

.testimonial-ui .container {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.testimonial-header {
    color: #112138;
}

.testimonial-h4 {
    color: #525252;
    font-weight: 500;
}

hr {
    width: 54px;
    height: 3px;
    background-color: #007D54;
    border: 0;
}

.testimonials {
   display: flex;
   flex-direction: column;
}

figure {
    border: 1px solid #007D54;
    border-radius: 4px;
    padding: 32px;
}

.customer-info {
    display: flex;
    margin-bottom: 32px;
}

.customer-info img {
    width: 52px;
    height: 52px;
}

.customer-info p {
    font-weight: 400;
    font-size: 18px;
    color: #007D54;
}

.customer-name {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.customer-name * {
    margin: 0 12px;
}

figcaption {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #525252;
}

footer {
    background-color: #112138;
    color: #ffffff;
}

footer .container {
    padding-top: 50px;
    padding-bottom: 50px;
}

footer ul {
    padding: 0px;
}

.footer-media ul{
    display: flex;
    list-style-type: none;
    gap: 35px;
    margin-top: 33px;
    margin-bottom: 50px;
    justify-content: center;
}

.links {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
   
}

.footer-logo {
    display: flex;
    margin: 0 auto;
}

footer a {
    color: #F5F6F7;
}

footer h4 {
    margin: 0 0 20px 0;
}

footer ul>li {
    list-style-type: none;
    padding: 4px 0;
    text-align: center;
}

@media screen and (min-width: 75rem) {
    .features .container {
        flex-direction: row;
    }

    .title {
        margin-right: 10%;
    }

    .image {
        padding: 80px 0;
    }
}

@media screen and (min-width: 62rem) {
    .testimonials {
        flex-direction: row;
    }

    .testimonials figure:first-child {
        margin-left: 0;
    }

    .testimonials figure:last-child {
        margin-right: 0;
    }
}

@media screen and (min-width: 40rem) {
    .mobile-menu {
        display: none;
    }
    
    .desktop-menu {
        display: initial;
    }

    .desktop-menu ul {
        display: flex;
        list-style-type: none;
        gap: 20px;
    }

    .desktop-menu a {
        color: #112138;
    }

    h1 {
        font-size: 48px;
    }

    button {
        max-width: 200px
    }

    .header .container {
        padding-top: 0;
        padding-bottom: 0;
    }

    .hero .container {
        padding: 15% 25%;
    }

    .information {
        padding: 80px 30%;
    }

    footer .container {
        display: flex;
        justify-content: space-between;
        padding-top: 80px;
        padding-bottom: 80px;
    }

    .testimonial-ui {
        padding: 80px 0;
    }

    .links {
        flex-direction: row;
        padding: 0 0 0 10%;
        width: 100%;
        align-items: flex-start;
        justify-content: space-between;
        text-align: left;
    }

    footer ul>li {
        text-align: left;
    }
}