body {
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: 400;
    margin: 0;
}

.container {
    max-width: 1280px;
    padding: 0 16px;
    margin: 0 auto;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header nav ul{
    display: flex;
    list-style-type: none;
    gap: 20px;
}

a {
      text-decoration: none;
      color: #112138;
} 

.hero {
    background-color: #112138;
    color: #ffffff;
}

.hero .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20vh 30vw;
}

h1 {
    font-weight: bold;
    font-size: 48px;
    margin: 0;
}

h4 {
    font-weight: bold;
    font-size: 20px;
}

span {
    color: #007D54;
}

button {
    padding: 14px 40px;
    margin-top: 10px;
    background: #007D54;
    border-radius: 4px;
    border: none;
    color: #ffffff;
}

.features .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.title h3 {
    font-weight: 700;
    font-size: 24px;
    margin: 0 0 12px 0;
}

.title p {
    font-size: 18px;
    color: #525252;
    margin-bottom: 32px;
}

.information {
    text-align: center;
    color: #ffffff;
    padding: 80px 30%;
}

.coffee-header {
    font-weight: 600;
    color: #F5F6F7;
}

.title {
    margin-right: 15%;

}

.image {
    padding: 80px 5%;
}

.information {
    background-image: url(images/coffee.png);
}

.testimonial-ui {
    padding: 80px 0;
}

.testimonial-ui .container {
    text-align: center;
    padding: 20px;
}

.testimonial-header {
    color: #112138;
}

.testimonial-h4 {
    color: #525252;
    font-weight: 500;
}

hr {
    width: 54px;
    height: 3px;
    background-color: #007D54;
    border: 0;
}

.testimonials {
   display: flex;
   margin: 0 -40px;
}

figure {
    border: 1px solid #007D54;
    border-radius: 4px;
    padding: 32px;
}

.customer-info {
    display: flex;
    margin-bottom: 32px;
}

.customer-info img {
    width: 52px;
    height: 52px;
}

.customer-info p {
    font-weight: 400;
    font-size: 18px;
    color: #007D54;
}

.customer-name {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.customer-name * {
    margin: 0 12px;
}

figcaption {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #525252;
}

footer {
    background-color: #112138;
    color: #ffffff;
}

footer .container {
    display: flex;
    justify-content: space-between;
    padding-top: 80px;
    padding-bottom: 80px;
}

footer ul {
    padding: 0;
}

.footer-media ul{
    display: flex;
    list-style-type: none;
    gap: 35px;
    margin-top: 33px;
}

.links {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 0 0 10%;
}

footer a {
    color: #F5F6F7;
}

footer h4 {
    margin: 0 0 20px 0;
}

footer ul>li {
    list-style-type: none;
    padding: 4px 0;
}

@media screen and (max-width: 900px) {
        .container {
            max-width: 100%;
        }

        .header {
            padding: 5% 0;
        }

        .big-menu {
            display: none;
        }

        .hero .container {
            padding: 10vh 5vw;
        }

        button {
            padding: 14px 30%;
        }

        .title {
            padding-top: 20px;
        }

        .features .container {
            flex-direction: column;
        }

        .information {
            padding: 40px;
        }
        
        .testimonials {
            flex-direction: column;
            margin: 0;
        }
  }

  @media screen and (max-width: 400px) {
      .image 
        {
          width: 95%;
          padding: 40px 5%;
        }

        footer .container {
            flex-direction: column;
        }

        .footer-media {
            justify-content: center;
           
        }

        .links {
            padding: 0;
        }
  }

